
#slider-div{ max-width:1000px;  max-height: 430px; height:auto;  padding: 10px; overflow:hidden; margin: 0 auto;
             -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                     border-radius: 5px;
                     background-color: #fff;
                     border:1px solid #ccc;}

#slider{ max-width:1000px; width:auto;  max-height: 410px; overflow:hidden; position: relative; margin:0 auto; padding:0; border:0; background-color:#000;}

#slider ul{ width: 100%; min-height:100%;  margin:0; padding:0; border:0; list-style:none; display:block; float:left; overflow: hidden;} 

#slider ul li{ width: 100%; min-height:100%; margin:0; padding:0; list-style-type:none; float: left; overflow: hidden; border:0; display: block; }

#slider ul li img{border: 0; margin:0; padding:0; max-width:100%; min-height:100%;}
#slider a{ width: 35px; height: 60px; margin:0px; position: absolute; top: 41%; outline: 0; opacity: 0.2}
#slider a:hover{ opacity: 0.5}
#subuprev{ left: 0; background: url("arrow_prev.png") no-repeat; cursor: pointer;}
#subunext{ right: 0;background: url("arrow_next.png") no-repeat; cursor: pointer;}
#sliderBulet{ width: 200px; height: 30px; position: absolute; bottom: 0; left: 40%; overflow: hidden;}
#sliderBulet>div{width: 16px; height: 16px;  margin:0; padding:0; border:0;  cursor: pointer;  margin-right: 15px; float: left; background:url("bullet_grey.png") no-repeat; text-align: center;}
.bulletactive{ background: url("bullet_yellow.png") no-repeat !important;}

.slider-title{ position: absolute; left: 30px; top: 0px; z-index: 2; background: url("black-dot.png");  padding: 20px; font-size: 26px; color: #fff;}
